<h2><font>Arbitrage Opportunities</font></h2>
<button align="right">Logout</button>
<section>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0" rules="all">
    <tbody>
        <tr bgcolor="#214FAC">
            <th>Symbol</th>
            <th>Bse</th>
            <th>Nse</th>
            <th>Diff</th>
            <th>Diff %</th>
            <th>Buy From</th>
            <th>Trade</th>
          </tr>
        <tr *ngFor="let stock of stocks">
          <td>{{stock.symbol}}</td>
          <td>{{stock.bse}}</td>
          <td>{{stock.nse}}</td>
          <td>{{stock.diff}}</td>
          <td>{{stock.per_diff}}</td>
          <td>{{stock.buy}}</td>
          <td><input type="checkbox" model.bind="stock" checked.bind="selectedst"> Save <br></td>
        </tr>
      </tbody>
    </table>
  
   </div>  
</section>


<!-- <p>
  this works!
  
 
</ul>
<table>
  <tr>
     <th>Symbol</th>
     <th>NSE</th>
     <th>BSE</th>
     <th>Diff</th>
  </tr>
  </li>
</table>
</ul>
</p> 
<ul>
  <li
  *ngFor="let stock of stocks">
    {{stock.symbol}}
    {{stock.bse}}
    {{stock.nse}}
  </li>
</ul>


-->