<div class="image"> 
  <form #myform="ngForm" class="login"  name="users" (ngSubmit)="Auth(myform)" >
    <h1 class="login-title">Login</h1>
    <input type="text" ngModel class="login-input" placeholder="Enter you Username" [(ngModel)]="d.username" name="uname">
    <input type="password" ngModel class="login-input" placeholder="Correct Password" [(ngModel)]="d.password" name="pass">
    <input type="submit" ngModel class="login-button" value="Login" [(ngModel)]="d.userid">
    <a *ngIf="d.userid==0">
      Invalid Username or Password
    </a>
  </form> 
</div>
<!--routerLink="/list"
<p>
   [(ngModel)]="U"
   [(ngModel)]="P"
   (click)="Auth()"
    You have entered 
  </p>
-->